<h1>{{pageTitle}}</h1>

{{>messages}}

<div class="row">
    <div class="container">
        <div class="col-8">
            <div class="">
                <a href="http://localhost:8080/cart">
                    <button class='btn btn-outline-primary float-center me-3'>Volver al carrito</button>
                </a>
                <a href="http://localhost:8080/">
                    <button class='btn btn-outline-primary float-center'>Seguir comprando</button>
                </a>
            </div>
        </div>
    </div>
</div>