<h1>{{view}}</h1>
<div class='row'>
  <div class='container'>
    <div class='col'>
      <form action='/api/sessions/login' method='post'>
        <input type='email' name='email' id='email' placeholder='Correo' />
        <input
          type='password'
          name='password'
          id='password'
          placeholder='Contraseña'
        />
        <button type='submit'>Login</button>
      </form>
      <div>
        <a href='http://localhost:8080/register'>Registrarme</a>
      </div>
    </div>
  </div>
</div>