<h1>{{pageTitle}}</h1>

{{!-- {{>messages}} --}}

<div class='row'>
  <div class='container'>
    <div class='col-6'>
      <form id='payment-form' method>
        <div class='card-element'>
          <!-- Elemento de Stripe para ingresar la información de la tarjeta -->
        </div>
        <!-- Botón para procesar el pago -->
        <button
          class='btn btn-outline-success'
          id='submit-payment-button'
        >Comprar</button>
      </form>
    </div>
  </div>
</div>

