<h1 class='mb-3'>{{view}}</h1>

{{#if message}}
  <div class='alert alert-danger' role='alert'>
    {{message}}
  </div>
{{/if}}

<div class='row'>
  <div class='container'>
    <div class='col-6'>
      <form action='/api/sessions/register' method='post'>
        <input class='form-control mb-3'
          type='text'
          name='first_name'
          id='first_name'
          placeholder='Nombre'
          required
        />
        <input class='form-control mb-3'
          type='text'
          name='last_name'
          id='last_name'
          placeholder='Apellido'
          required
        />
        <input class='form-control mb-3'
          type='email'
          name='email'
          id='email'
          placeholder='Correo'
          required
        />
        <input class='form-control mb-3'
          type='number'
          name='age'
          id='age'
          placeholder='Edad'
          step='1'
          min='1'
          required
        />
        <input class='form-control mb-3'
          type='password'
          name='password'
          id='password'
          placeholder='Contraseña'
          required
        />
        <button class='btn btn-outline-primary' type='submit'>Regístrate</button>
      </form>
      <div>
        <a href='http://localhost:8080/login'>Ya estoy registrado</a>
      </div>
    </div>
  </div>
</div>